<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>

    //servlet
    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>com.servletbasics.sudh.HelloServlet</servlet-class>
    </servlet>

    //mapping
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/myservlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GenericServe</servlet-name>
        <servlet-class>com.servletbasics.sudh.SecondServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GenericServe</servlet-name>
        <url-pattern>/gens</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HTTPServe</servlet-name>
        <servlet-class>com.servletbasics.sudh.ProtocolSpecific</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HTTPServe</servlet-name>
        <url-pattern>/httpserv</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServe</servlet-name>
        <servlet-class>com.servletbasics.sudh.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServe</servlet-name>
        <url-pattern>/regs</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>S1</servlet-name>
        <servlet-class>com.servletbasics.sudh.s1</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>S1</servlet-name>
        <url-pattern>/s1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>S2</servlet-name>
        <servlet-class>com.servletbasics.sudh.s2</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>S2</servlet-name>
        <url-pattern>/s2</url-pattern>
    </servlet-mapping>

</web-app>